:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  user-select: none;
}

button {
  color: gray;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  user-select: none;
}

button:hover {
  border-color: #f0f0f1;
  color: white;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.main-canvas {
  margin-top: 5px;
  cursor: none;
  background-color: white;
  border: 5px solid black;
  border-radius: 20px;
  box-shadow: 7px 12px #000000;
}

.main-container {
  background-color: teal;
  border-radius: 5%;
  border: 4px solid black;
  display: flex;
  flex-direction: row;
}

.canvas-container {
  width: 300px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 5%;
  border: 5px solid black;
}

.current-sticker {
  border: 2px solid rgb(101, 101, 182);
}

.bottom-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 20px;
}

.marker-container {
  color: #535bf2;
  width: 175px;
  border-radius: 5%;
  background-color: black;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.sticker-container {
  color: #535bf2;
  direction: rtl;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 175px;
  max-height: 425px;
  border-radius: 5%;
  background-color: black;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.clear-btn, .export-button, .undo-btn, .redo-btn {
  min-width: 125px;
}

#marker-slider, #color-slider {
  margin-left: 25px;
  margin-top: 10px;
  -webkit-appearance: none;
  width: 125px;
  height: 25px;
  border: 2px solid orange;
  border-radius: 10%;
  background: #d3d3d3;
  outline: none;
}

#marker-slider::-webkit-slider-thumb, #color-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 5%;
  width: 22px;
  height: 22px;
  background: #4b7ecc;
  cursor: pointer;
}

.slider-txt, .color-txt {
  color: #535bf2;
  border-bottom: 2px solid;
}

.remove-sticker-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.remove-sticker-input {
  border-color: #646cff;
  margin-top: 10px;
  width: 75px;
  height: 20px;
}

.sampler-div {
  margin-top: 10px;
  align-self: center;
  width: 25px;
  height: 25px;
  border: 2px solid #646cff;
  background-color: black;
}

.reset-color-button {
  align-self: center;
  width: 120px;
}
